// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h1 {
  font-family: 'Roboto', sans-serif;
}

blockquote {
  font-family: 'Roboto', sans-serif;
  border-left: 10px solid #CCCCCC;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

p {
  font-family: 'Roboto', sans-serif;
    display: block;
  }
.question {
  font-family: 'Roboto', sans-serif;
  background-color: #F9F9F9;
}

.answer {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFEE1;
  font-weight: bold;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: black;
}